@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');

body {
    width: 80vw;
    font-family: 'Instrument Sans', sans-serif;
    margin: auto;
    background-color: #EDEDED;
}

.geral.col-md-12 {
    justify-content: center;
    text-align: center;
}

.row {
    margin-bottom: 20px
}

.geral.row {
    margin-bottom: 40px
}

.projeto.col-md-6,
.curso.col-md-6 {
    padding-right: 40px;
}

h1 {
    font-weight: 500;
    font-size: 50px;
}

h2 {
    border-bottom: 1.5px solid grey;
}

p {
    margin-bottom: 2px;
    font-size: 18px;
}

a {
    color: black;
}

li {
    margin-bottom: 12px;
}

@media (max-width: 767px) {
    .col-md-6 {
      width: 100%;
    }
  }